In [7]:
name = "Ken"
print("hello", name)
print("hello"+ name)
print(f"hello {name}")

hello Ken
helloKen
hello Ken

In [8]:
print("Hello Bioinformatics")

Hello Bioinformatics

In [10]:
width = 4
height = 5

print(width * height)
print(f"{width} x {height} = {width * height}") #곱셈기호까지 출력하고싶을 때 이용하기 좋음

20
4 x 5 = 20

In [12]:
# +, -, *, /, **, %, //

num1 =3
num2 = 5

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 ** num2)
print(num1 % num2)
print(num1 // num2)

8
-2
15
0.6
243
3
0

In [13]:
num1 = 3

# if 조건문:
  # //do something
# else :
  # //do something else

if num1%2 == 0 :
  print(f"{num1}은 짝수")
else :
  print(f"{num1}은 홀수")

3은 홀수

In [17]:
# if 조건문:
  # //do something
# elif 조건문2 :
  # //do something
# elif 조건문3 :
  # //do something
# else :
  # //do something else

num1 = 21

if num1 % 3 == 0 and num1 % 7 == 0: # 큰 범위를 먼저 써줘야함, 3의 배수 먼저이면 21이 3의 배수로 출력됨
  print("3 그리고 7의 배수")
elif num1 % 7 == 0 :
  print("7의 배수")
elif num1 % 3 == 0:
  print("3의 배수")
else :
  print("3 또는 7의 배수가 아님")

3 그리고 7의 배수

In [19]:
#range(시작=1, 끝=10, 스텝=1)
for i in range(1,11) :
  print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
result = 0
for i in range(1,11):
  result += i

print(result)

55

In [23]:
result = 1
for i in range(5, 0, -1):
  result *= i
print(result)

120

In [24]:
print(list(range(11)))
print(list(range(5,0,-1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[5, 4, 3, 2, 1]

In [25]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [31]:
# 구구단의 2단

for i in range(0,9) :
  i += 1
  print(f"2 X {i} = {2*i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [35]:
for i in range(2, 9, 2):
  print(f"# {i}단")
  for j in range(1, 10, 1):
    print(f"{i}X{j} = {i*j}")

# 2단
2X1 = 2
2X2 = 4
2X3 = 6
2X4 = 8
2X5 = 10
2X6 = 12
2X7 = 14
2X8 = 16
2X9 = 18
# 4단
4X1 = 4
4X2 = 8
4X3 = 12
4X4 = 16
4X5 = 20
4X6 = 24
4X7 = 28
4X8 = 32
4X9 = 36
# 6단
6X1 = 6
6X2 = 12
6X3 = 18
6X4 = 24
6X5 = 30
6X6 = 36
6X7 = 42
6X8 = 48
6X9 = 54
# 8단
8X1 = 8
8X2 = 16
8X3 = 24
8X4 = 32
8X5 = 40
8X6 = 48
8X7 = 56
8X8 = 64
8X9 = 72

In [37]:
num = 5
result = 1
while num > 0:
  print(f"result ; {result}, num : {num}")
  result *= num
  num -= 1

print(result)

result ; 1, num : 5
result ; 5, num : 4
result ; 20, num : 3
result ; 60, num : 2
result ; 120, num : 1
120

In [38]:
num = 5
result = 1
while True:
  if num == 0:
    break

  print(f"result ; {result}, num : {num}")
  result *= num
  num -= 1

print(result)

result ; 1, num : 5
result ; 5, num : 4
result ; 20, num : 3
result ; 60, num : 2
result ; 120, num : 1
120

In [42]:
# parameter(x), return(x)

def hello():
  print("hello") # return 없음

res = hello()
print(res)

hello() # 함수를 call하는 방법

hello
None
hello

In [44]:
# parameter(x), return(o)

def add():
  a = 2
  b = 3
  return a + b

res = add()
print(res)

5

In [45]:
# parameter(o), return(o)

def add_two(num1, num2):
  return num1 + num2

res = add_two(3,4)
print(res)

7

In [47]:
# parameter(o), return(x)

def add_two2(num1, num2):
  print(f"{num1} + {num2} = {num1+num2}")

res = add_two2(1,2)
print(res)

1 + 2 = 3
None

In [48]:
name = input()
print(f"안녕하세요. {name}.")

ken
안녕하세요. ken.

In [49]:
# 텍스트파일 읽는 두 가지 방법1
with open("sample.txt") as handle :
  print(type(handle))
  for line in handle:
    print(line.strip())

<class '_io.TextIOWrapper'>
>sample species
ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAA
CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTGCACTCACGCAGTATAATTAATAAC

In [51]:
# 텍스트파일 읽는 두 가지 방법2
with open("sample.txt") as handle :
  data = handle.readlines() #리스트 반환
print(data)
print(type(data))

['>sample species\n', 'ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAA\n', 'CGAACTTTAAAATCTGTGTGGCTGTCACTCGGCTGCATGCTTAGTGCACTCACGCAGTATAATTAATAAC']
<class 'list'>

In [53]:
# 텍스트파일 만드는 방법
with open("write_test.txt", "w") as handle:
  handle.write("쓰기 테스트.\n")
  handle.write("안녕하세요.")

In [55]:
# 예외처리
try:
  with open("abc.txt") as handle: # filenotfounderror
    print(handle.readlines())
except :
  pass

print("DONE!")

DONE!

In [57]:
try:
  with open("abc.txt") as handle: # filenotfounderror
    print(handle.readlines())
except FileNotFoundError as err: # 오류 내용을 출력하는 방법
  print("ERROR:", err)

print("DONE!")

ERROR: [Errno 2] No such file or directory: 'abc.txt'
DONE!

In [60]:
try:
  res = 10/0
  print(res)

except FileNotFoundError as err: # 오류 내용을 출력하는 방법
  print("ERROR:", err)
except ZeroDivisionError as err:
  print("ERROR:", err)

print("DONE!")

ERROR: division by zero
DONE!

In [61]:
try:
  res = 10/0
  print(res)

except Exception as err: # 오류 내용을 출력하는 방법_구체적으로 오류명을 적지 않아도됨. 명시하는 것을 추천하심
  print("ERROR:", err)

print("DONE!")

ERROR: division by zero
DONE!

In [1]:
s1 = "Bio"
s2 = "Informatics"
s3 = s1 + s2

print(s3)

BioInformatics

In [3]:
seq1 = "ATGTTATAG"

print(seq1)
for i in range(len(seq1)) :
  print(i, seq1[i])

ATGTTATAG
0 A
1 T
2 G
3 T
4 T
5 A
6 T
7 A
8 G

In [4]:
seq1 = "ATGTTATAG"
print(seq1[5])

A

In [5]:
seq1 = "ATGTTATAG"
print(seq1[3:6]) # 끝은 포함 안됨, 3 4 5 출력

TTA

In [6]:
seq1 = "ATGTTATAG"

for i in range(0, len(seq1), 3):
  print(i, seq1[i])

0 A
3 T
6 T

In [7]:
complement = ["A":"T", "C" : "G", "G":"C", "T":"A"]

print(complement)
print(complement["A"])

seq1 = "ATGTTATAG"
result = ""
for base in seq1:
  result += complement[base]
print(seq1)
print(result)

SyntaxError: invalid syntax (<ipython-input-7-7f55c90aeaee>, line 1)

In [8]:
seq1 = "ATGTTATAG"

for base in seq1:
  if base == "C":
    print("C in seq")

In [12]:
seq1 = "ATGTTATAG"

if "C" in seq1:
  print("C in seq")
else:
  print("C not in seq")

C not in seq

In [13]:
seq1 = "ATGTTATAG"
for i in range(len(seq1)):
  base = seq1[i]
  if base == "T"

SyntaxError: expected ':' (<ipython-input-13-812c721212d2>, line 4)

In [14]:
seq1 = "ATGTTATAG"
for i, base in enumerate(seq1):
  if base == "T":
    print(i, base)
    break

1 T

In [17]:
seq1 = "AGTTTATAG"

for i in range(len(seq1)):
  # print(seq1[i:i+2])
  if seq1[i:i+2] == "TT":
    print(i, seq1[i:i+2])

3 TT

In [18]:
seq1 = "AGTTTATAG"
print(seq1.index("T"))
print(seq1.index("TT"))

1
3

In [20]:
s1 = "AA,AC,AG,AT"
data = s1.split(",")
print(data)
print(type(data))

s2 = "_".join(data)
s2 = "||".join(data)
print(s2)

['AA', 'AC', 'AG', 'AT']
<class 'list'>
AA||AC||AG||AT

In [21]:
seq1 = "ATGTTATAG"
print(seq1[::-1])

data = ["AA", "AC", "AG", "AT"]
print(data[::-1])

GATATTGTA
['AT', 'AG', 'AC', 'AA']

In [22]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]

print(max(data))
print(min(data))

3
0

In [24]:
# max, min 함수가 없을 경우

data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
max_val = data[0]
min_val = data[0]

for i in data:
  if i > max_val:
    max_val = i
  if i < min_val:
    min_val = i
print(max_val, min_val)

3 0

In [25]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
result = 0
for i in data :
  result += i
print(result)

print(sum(data)) # 위의 과정을 한번에 계산

15
15

In [26]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
print(len(data))

9

In [27]:
print(sum(data)/len(data))

1.6666666666666667

In [28]:
import statistics
statistics.stdev(data)

1.224744871391589

In [29]:
seq1 = "ATGTTATAG"

for i in range(0,len(seq1),3):
  print(i, i+3, seq1[i:i+3])

0 3 ATG
3 6 TTA
6 9 TAG

In [30]:
seq1 = "ATGTTATAG"
result = ""

for i in range(len(seq1)-1, -1, -1):
  print(i, seq1[1])
  result += seq1[i]

print(result) # 거꾸로 출력

8 T
7 T
6 T
5 T
4 T
3 T
2 T
1 T
0 T
GATATTGTA

In [31]:
data = list(range(0,10))
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]

print(data.count(0))
print(data.count(1))
print(data.count(2))
print(data.count(3))

2
2
2
3

In [34]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
count_data = dict()
for i in data:
  if i not in count_data:
    count_data[i] = 0
  count_data[i] += 1
print(count_data)

for key, value in count_data.items():
  print(key, value)

{3: 3, 1: 2, 2: 2, 0: 2}
3 3
1 2
2 2
0 2

In [35]:
count_data.items()

dict_items([(3, 3), (1, 2), (2, 2), (0, 2)])

In [36]:
count_data.keys() #key는 리스트이므로

dict_keys([3, 1, 2, 0])

In [38]:
sorted(count_data.keys()) #key는 리스트이므로 key로 딕셔너리에 접근하면 순서대로 정렬되어 출력

[0, 1, 2, 3]

In [39]:
for key in sorted(count_data.keys()):
  print(key, count_data[key])

0 2
1 2
2 2
3 3

In [66]:
data = dict()
with open("sample.txt") as handle:
  for line in handle:
    if line.startswith(">"):
      continue

      for base in line.strip():
        if base not in data:
          data[base] = 0
      data[base] += 1
print(data)

print(sorted(data.keys()))
for base in sorted(data.keys()):
  print(base,data[base])

{}
[]

In [48]:
data = [3, 1, 1, 2, 0, 0, 2, 3, 3]
data_set = set(data)
print(data_set)

{0, 1, 2, 3}

In [50]:
data = {"A":1, "C":10}
print(data["A"]) #data[0] (X)

data = {0, 1, 2, 3}

1

In [51]:
data1 = {1, 2, 5, 10}
data2 = {1, 2, 3, 6}

print(data1.intersection(data2))
print(data1.union(data2))
print(data1-data2)
print(data2-data1)

{1, 2}
{1, 2, 3, 5, 6, 10}
{10, 5}
{3, 6}

In [53]:
data = [1,2,3]
print(data)
print(type(data))

[1, 2, 3]
<class 'list'>

In [57]:
# class는 붕어빵 틀, object는 붕어빵

class Student:
  def __init__(self):
    self.name = ""
    self.major = ""
  def study(self, subject):
    pass
  def walk(self, dest):
    pass

student1 = Student()
print(type(student1))
student1.name = "dahyun"
student1.major = "bioinformatics"

print(student1.name)

<class '__main__.Student'>
dahyun

In [65]:
class Student:
  def __init__(self):
    self.name = ""
    self.major = ""
  def __str__(self):
    return f"{self.name}, {self.major}."
  def __add__(self, other):
    return self.name + ',' +other.name
  def __len__(self):
    return len(self.name)
  def study(self, subject):
    print(f"{self.name} studies {subject}")
  def walk(self, dest):
    return f"{self.name} goes to {dest}"

student1 = Student()
print(type(student1))
student1.name = "dahyun"
student1.major = "bioinformatics"

student1.study("bio")
res = student1.walk("library")
print(res)

print(student1)

student2 = Student()
student2.name = "jame"
print(student1)
print(student2)
print(student1 + student2)
print(len(student1))

<class '__main__.Student'>
dahyun studies bio
dahyun goes to library
dahyun, bioinformatics.
dahyun, bioinformatics.
jame, .
dahyun,jame
6